.Lista-div{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 2px solid;
  border-radius: 0.5rem;
  flex-grow: 1;
  width: 15rem;
  height: 25rem;

}

.Lista-tarefas{
  
  display: flex;
  flex-direction: column;
  overflow: auto;
    
}

.Lista-header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  word-break: break-word;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7eafcf; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#92acbf; 
  }

.Lista-titulo{
    margin-left: 1rem;
    margin-bottom: 0;
    
}

.Lista-icons{
  display:flex ;
  flex-direction: row;
}


.dialog-style{
  background-color: #1B262C;
  color: #BBE1FA;
}
.Lista-dialog-buttons{
  margin-left: 8rem;
  margin-top: 1rem;
}